[Desktop Entry]
Encoding=UTF-8
Name=PocketChange
Comment=PocketChange P2P Cryptocurrency
Comment[fr]=PocketChange, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PocketChange, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/pocketchange-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/pocketchange128.png
MimeType=x-scheme-handler/pocketchange;
Categories=Office;
